/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}


      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
   

      * {
        margin: 0;
    }
    
    body {
      background-image: url("./images/HeaderImageBig.png");
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: cover; /* Resize the background image to cover the entire container */
        }

.myLogo {
  width: 100%;
  padding-top: 50px;
}

/* nav {
  
  
  padding-left: 50%;
  
  
} */


.navbar {
  background-image: none;
  /* text-align: center; */
}

a {
  text-decoration: none;
  color:#5D5C5D;
  padding: 20px 40px;
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  display: inline-block;
  /* text-align: center; */
  letter-spacing: 20px;
  
  
}

a:hover {
  color: #EE028D !important;
  text-decoration: none;
}

.footer-text {
  color: white;
  font-family: 'Raleway', sans-serif;
}

#copyright {
  font-size: 12px;
}

.footer {
  background-color: #a6a6a6;
}
    